header {
  background-color: #fff159;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  margin-bottom: 1%;
}

#logo {
  height: 120px;
}

.user-cart-wrapper {
  margin-right: inherit;
  display: flex;
  align-items: center;
}