header {
  display: inline-flex;
  background-color: #fff159;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

#logo {
  height: 100px;
}

.user-cart-wrapper {
  margin-right: inherit;
  display: flex;
  align-items: center;
}