.item {
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item-title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
}

.item-img {
  width: 100%;
}

.item-btn {
  background-color: green;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}
