header {
  display: inline-flex;
  background-color: #fff159;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

#logo {
  height: 100px;
}

.hide {
  display: none;
}

.user-cart-wrapper {
  margin-right: inherit;
  display: flex;
  align-items: center;
}

.search-form {
  width: 40%;
}

.search-input {
  width: 75%;
}

.user-login {
  display: flex;
}